* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section.format-page {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: #000;

  h1 {
    text-align: center;
    color: white;
    font-size: 3rem;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }

  .return-btn {
    color: aliceblue;
    text-decoration: none;
    font-size: 2rem;
  }
}