#dash-body {
  background-image: url(../../assets/bg-image-dash.jpg);
  display: flex;
  height: 100vh;
}

aside#nav {
  width: 250px;
  background: #060b26ab;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  color: white;
  gap: 2rem;
  border-radius: 2rem;
  margin: 1rem;

  #line {
    width: 100%;
    height: 1px;
    background: linear-gradient(
      to right,
      transparent,
      rgba(255, 255, 255, 0.5),
      transparent
    );
  }

  .btns {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 1rem;

    img {
      width: 30px;
      height: 30px;
    }

    a,
    button {
      display: flex;
      align-items: center;
      width: 80%;
      padding: 10px;
      background-color: transparent;
      border: none;
      border-radius: 10px;
      color: white;
      text-decoration: none;
      font-size: 16px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      gap: 1rem;

      &:hover {
        background-color: #6464646c;
      }
    }
  }
}

main#content {
  display: grid;
  grid-template-rows: 1fr 2fr 4fr;
  gap: 2rem;
  padding: 2rem;
  width: 100%;

  #title {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1 {
      color: white;
      font-size: 2rem;
      margin: 1rem;
    }
  }

  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;

    #name-card {
      background-image: url(../../assets/jellyfish-bg.png);
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 2rem;
      padding: 3rem;
      color: #a0aec0;
      display: flex;
      flex-direction: column;

      p {
        width: 20rem;
        display: flex;
        flex-direction: column;
        gap: 1.4rem;
        font-size: 1.6rem;
      }

      span {
        color: white;
        font-size: 2.8rem;
        font-weight: bold;
      }
    }

    #ph-card {
      background: linear-gradient(
        148deg,
        rgba(6, 11, 40, 0.94) 30%,
        rgba(10, 14, 35, 0.49) 90%
      );
      border-radius: 2rem;
      padding: 2rem;
      color: #a0aec0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      h2 {
        color: white;
        font-size: 1.8rem;
        font-weight: bold;
      }

      img {
        height: 26rem;
      }
    }

    .carousel-slider{
      width: 100%;
      height: 100%;
    }

    .slider{
      height: 100%;
      background: none;
      border: none;
    }

    .slider-wrapper{
      height: 100%;
      border: none;
    }

    .slide{
      height: 100%;
      border: none;

      img{
        width: 40%;
      }
    }

    #ocean-info-card{
      background: linear-gradient(
        320deg,
        rgba(6, 11, 40, 0.78) 38%,
        rgba(10, 14, 35, 0) 100%
      );
      border-radius: 2rem;
      padding: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #a0aec0;
      gap: 3rem;
      height: 100%;

      #text {
        max-width: 26rem;
        display: flex;
        flex-direction: column;
        gap: 2.4rem;

        #news {
          background: #060c29;
          border-radius: 2rem;
          padding: 1rem;

          h2 {
            color: white;
            font-size: 1.8rem;
            font-weight: bold;
          }
        }
      }
    }
  }

  #info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background: linear-gradient(180deg, #060b28 29%, #000d82 100%);
    padding: 6rem;
    border-radius: 2rem;
    justify-items: center;

    .info-card {
      background: linear-gradient(140deg, #2f43b0 0%, 50%, #010f50 100%);
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 2rem;
      border-radius: 2rem;
      color: #a0aec0;
      justify-content: space-between;
      min-width: 38rem;

      h2 {
        font-size: 2.4rem;
      }

      p {
        font-size: 3rem;
        color: white;
      }
    }
  }
}

@media (max-width: 1500px) {
  #dash-body {
    flex-direction: column;
  }

  aside#nav {
    gap: 1rem;
    width: 100%;
    margin: 0rem;

    .btns a,
    button {
      justify-content: center;
    }
  }

  main#content {
    grid-template-rows: 1fr;
    padding: 1rem;
    gap: 1rem;
    background-image: url(../../assets/bg-image-dash.jpg);

    #title h1 {
      font-size: 1.8rem;
    }

    .cards {
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
        "name ph"
        "info info";
      gap: 2rem;
      align-items: center;
      justify-items: center;

      #name-card,
      #ph-card,
      #ocean-info-card {
        width: 100%;
        height: 100%;
      }

      #name-card {
        grid-area: name;
        p {
          font-size: 1.4rem;
          width: 100%;
        }
        span {
          font-size: 2.4rem;
        }
      }
      #ph-card {
        grid-area: ph;
        h2 {
          font-size: 1.6rem;
        }
      }
      #ocean-info-card {
        grid-area: info;
        max-width: 55rem;
        #text #news h2 {
          font-size: 1.6rem;
        }
      }
    }

    #info {
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
        "temperature luminosity"
        "ocean ocean";
      padding: 2rem;
      gap: 2rem;
      margin: 0 auto;
      width: 100%;

      #temperature-card {
        grid-area: temperature;
      }
      #luminosity-card {
        grid-area: luminosity;
      }
      #ocean-card {
        grid-area: ocean;
        max-width: 55rem;
        min-width: 55rem;
      }

      .info-card {
        min-width: 100%;
        height: 100%;

        h2 {
          font-size: 2rem;
        }

        p {
          font-size: 2.4rem;
        }

        
      }
    }
  }
}

@media (max-width: 900px) {
  #dash-body {
    flex-direction: column;
  }
  
  aside#nav {
    gap: 0.5rem;
  }

  main#content {
    padding: 0.5rem;
    gap: 0.5rem;

    #title h1 {
      font-size: 1.5rem;
    }

    .cards {
      grid-template-columns: 1fr;
      grid-template-areas:
        "name"
        "ph"
        "info";
      gap: 2rem;
      max-width: 38rem;
      align-items: center;
      margin: 0 auto;

      #name-card p {
        font-size: 1.2rem;
        width: 100%;
      }

      #name-card span {
        font-size: 2rem;
      }

      #ph-card h2 {
        font-size: 1.4rem;
      }

      #ocean-info-card #text #news h2 {
        font-size: 1.4rem;
      }
    }

    #info {
      grid-template-columns: 1fr;
      grid-template-areas:
        "temperature"
        "luminosity"
        "ocean";
      padding: 2rem;
      background: transparent;
      gap: 2rem;
      justify-items: center;

      #ocean-card {
        max-width: 0;
        min-width: 25rem;
      }
      .info-card {
        max-width: 38rem;
        min-width: min-content;

        h2 {
          font-size: 1.8rem;
        }

        p {
          font-size: 2rem;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  #info-img {
    width: 100%;
  }

  main#content {

    .cards{

      #ocean-info-card{
        flex-direction: column;
      }
    }

    #info {
      #ocean-card {
        max-width: 20rem;
        min-width: 14rem;
      }
      .info-card {
        max-width: 20rem;
        min-width: min-content;
      }
    }
  }
}
